.body {
  padding: 0rem 1rem;
}

.wrapper-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-size: 250px;
}

.wrapper-2 {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  z-index: 2;
}

.stage {
  color: darkgray;
}

.stage-caption {
  font-size: 20px;
  padding: 1rem 0.25rem;
  font-weight: bold;
}

.entity {
  border-radius: 3px;
  background: white;
  width: 150px;
  min-height: 100px;
  box-shadow: 0 0 6px darkgray;
}

.entity:not(:first-child) {
  margin-top: 3rem;
}

.entity-header {
  border-radius: 3px 3px 0 0;
  background: #696969;
  color: white;
  height: 36.7px;
  font-weight: bold;

}

.entity-header-active {
  border-radius: 3px 3px 0 0;
  background: #FB9D46;
  color: white;
  height: 36.7px;
  font-weight: bold;

}

.entity-content {
  padding: 0.5rem;
  height: 0px;
  overflow: hidden;
  color: black;
}

.entity-footer {
  font-size: 12px;
  padding: 0.5rem;
  cursor: pointer;
}

.entity-caption {
  font-size: 14px;
  padding: 0.25rem;
}

.attribute-caption {
  color: black;
  padding: 0.25rem
}

.attribute-caption-active {
  border-radius: 10px;
  background: #FB9D46;
  color: white;
  padding: 0.25rem
}

.attribute:not(:first-child) {
  margin-top: 1rem;
}

.attribute:last-child {
  padding-bottom: 1rem;
}

.attribute-count {
  border: 1px solid #E4E4E4;
  width: 30px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
  float:right;
  margin-top: -0.05rem;
}

.svg-ele {
  position: absolute;
}

.svg-ele:hover {
  z-index: 1;
}


