<section class="body">

  <div fxFlex fxFlexLayout="row" fxLayoutAlign="center start" fxLayoutGap="6rem">

    <div class="landing">

      <div class="entity" (click)="getCoordinates($event)" id="landing_1">
        <div class="entity-header" fxLayoutAlign="center center">Entity 1</div>
        <div class="line-hor line-hor-right" style="background: #77B3FF;">&nbsp;</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>

        </div>

      </div>

      <div class="entity" (click)="getCoordinates($event)" id="landing_2">

        <div class="entity-header" fxLayoutAlign="center center">Entity 2</div>
        <div class="line-hor line-hor-right" style="background: #77B3FF;">&nbsp;</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 2
          </div>

        </div>

      </div>

    </div>

    <div class="staging">

      <div class="entity" (click)="getCoordinates($event)" id="staging_1">
        <div class="entity-header" fxLayoutAlign="center center">Entity 3</div>
        <div class="line-hor line-hor-left" style="background: #77B3FF;">&nbsp;</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>

        </div>
      </div>

      <div class="entity" (click)="getCoordinates($event)" id="staging_2">
        <div class="entity-header" fxLayoutAlign="center center">Entity 4</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>

        </div>
      </div>

      <div class="entity" (click)="getCoordinates($event)" id="staging_3">
        <div class="entity-header" fxLayoutAlign="center center">Entity 5</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 2
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 3
          </div>

        </div>
      </div>

      <div class="entity" (click)="getCoordinates($event)" id="staging_4">
        <div class="entity-header" fxLayoutAlign="center center">Entity 6</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>

        </div>
      </div>

    </div>

    <div class="sor stages seleted-entity">

      <div class="entity" (click)="getCoordinates($event)" id="sor_1">
        <div class="entity-header" fxLayoutAlign="center center">Entity 4</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 2
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 3
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 4
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 5
          </div>

        </div>
      </div>

    </div>

    <div class="mart">

      <div class="entity" (click)="getCoordinates($event)" id="mart_1">
        <div class="entity-header" fxLayoutAlign="center center">Entity 5</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>
          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 2
          </div>

        </div>
      </div>

      <div class="entity" (click)="getCoordinates($event)" id="mart_2">
        <div class="entity-header" fxLayoutAlign="center center">Entity 6</div>
        <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

          <div class="entity-caption" fxLayoutAlign="start center">
            Attribute 1
          </div>

        </div>
      </div>

      <div class="entity" (click)="getCoordinates($event)" id="mart_3">
          <div class="entity-header" fxLayoutAlign="center center">Entity 7</div>
          <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

            <div class="entity-caption" fxLayoutAlign="start center">
              Attribute 1
            </div>

          </div>
        </div>

        <div class="entity" (click)="getCoordinates($event)" id="mart_4">
            <div class="entity-header" fxLayoutAlign="center center">Entity 7</div>
            <div class="entity-content" fxLayout="column" fxLayoutAlign="start center">

              <div class="entity-caption" fxLayoutAlign="start center">
                Attribute 1
              </div>
              <div class="entity-caption" fxLayoutAlign="start center">
                Attribute 2
              </div>

            </div>
          </div>

    </div>


  </div>

</section>
