<section class="body">

  <div>
    <div class="wrapper-1" #wrapper_3 fxLayout="row">
      <div fxFlex="271px" style="background: white;"></div>
      <div fxFlex="271px" style="background: #f6f6f6;"></div>
      <div fxFlex="271px" style="background: white;"></div>
      <div fxFlex="271px" style="background: #f6f6f6;"></div>
    </div>
    <div class="wrapper-1" #wrapper_1></div>
  </div>

  <div class="wrapper-2" id="wrapper_2" #wrapper_2>

    <div fxFlex fxFlexLayout="row" fxLayoutAlign="start start">

      <div *ngFor="let stage of generateEntity" fxFlex="271px" class="stage">

        <div class="stage-caption stage-{{stage.stage}}" fxLayoutAlign="center start">
          {{stage.stage | uppercase}}
        </div>

        <div fxLayout="row" fxLayoutAlign="center start">

          <div [ngClass]="stage.stage">

            <div *ngFor="let entity of stage.entity" class="entity" id="entity_{{ entity.id }}" #entities hidden>
              <div
                fxLayoutAlign="center center"
                [matTooltip]="entity.description"
                matTooltipPosition="after"
                [ngClass]="(entity.id === selectedEntityId) ? 'entity-header-active': 'entity-header'"
              >{{ entity.name | slice:0:10 }}</div>
              <div class="entity-content" fxLayout="column" id="entity_content_{{ entity.id }}" #entitiesCcontent>

                <div class="attribute" *ngFor="let attribute of entity.attr" (click)="renderEntity(stage.stage, entity, attribute.id)" style="cursor: pointer;"
                  [hidden]="!attribute.display">
                  <div id="attr_{{ entity.id + '_' + attribute.id}}"
                    #attributes
                    class="attribute-caption"
                    [matTooltip]="attribute.description"
                    matTooltipPosition="after"
                    [ngClass]="(((entity.id === selectedEntityId)) && (attribute.id === selectedAttributeId)) ? 'attribute-caption-active' : ''"
                  >
                    {{ attribute.name | slice:0:10 }}
                    <span class="attribute-count">{{ attribute.relationOut.length }}</span>
                  </div>
                </div>

              </div>
              <div class="entity-footer" fxLayoutAlign="end center" *ngIf="(selectedEntityId == entity.id && entity.attr.length > 5)" (click)="expandEntity(entity.id)">
                  <ng-container *ngIf="!toggleEntityExpand">{{ entity.attr.length - 5 }} More...</ng-container>
                  <ng-container *ngIf="toggleEntityExpand">Show Less...</ng-container>
                </div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
