.side-drawer {
  padding: 0 !important;
  height: 100%;
}

.stages {
  height: 153px;
  font-weight: bold;
}

.entity-header {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 14px;
  color: white;
}

.entity-search {
  padding: 0 ;
}

.entity-content {
  height: 75px;
  overflow-y: scroll;
}

.landing .staging .sor .mart {
  height:100%;
  padding: 0.5rem;
  overflow-y: scroll;
}

.search-input {
  padding: 0.5rem 0;
}

.entity {
  padding: 0.25rem;
  font-size: 14px;
}

.entity-list {
  padding-bottom: 0.25rem;
  font-size: 12px;
}

.entity-count {
  border: 1px solid #E4E4E4;
  padding: 0.1rem;
  width: 30px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
}

.landing, .staging, .sor, .mart {
  padding: 0rem 1rem 0 1rem;
  color: black;
}

.entity-header {
  background: #f6f6f6;
  color: black;
}
