<div class="side-drawer">

  <!--<div fxFlex fxLayout="column" fxLayoutGap="1rem">

    <div class="landing" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center start">

      <div fxFlex="100" class="header" fxLayoutAlign="center center">

        <div class="title" fxFlex fxLayoutAlign="start">LANDING (2)</div>
        <div class="menu" fxFlex fxLayoutAlign="end">
          <mat-icon>more_vert</mat-icon>
        </div>

      </div>

      <div fxFlex="100" class="search" fxLayoutAlign="center center">

        <div fxFlex="100" class="search-input">
          <input fxFlex type="text" placeHolder="&#61442; Search by name..." />
        </div>

      </div>


      <div class="content" fxFlex fxLayout="row wrap">

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

      </div>


    </div>


    <div class="staging" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center start">

      <div fxFlex="100" class="header" fxLayoutAlign="center center">

        <div class="title" fxFlex fxLayoutAlign="start">STAGING (2)</div>
        <div class="menu" fxFlex fxLayoutAlign="end">
          <mat-icon>more_vert</mat-icon>
        </div>

      </div>

      <div fxFlex="100" class="search" fxLayoutAlign="center center">

        <div fxFlex="100" class="search-input">
          <input fxFlex type="text" placeHolder="&#61442; Search by name..." />
        </div>

      </div>


      <div class="content" fxFlex fxLayout="row wrap">

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

      </div>


    </div>


    <div class="sor" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center start">

      <div fxFlex="100" class="header" fxLayoutAlign="center center">

        <div class="title" fxFlex fxLayoutAlign="start">SOR (2)</div>
        <div class="menu" fxFlex fxLayoutAlign="end">
          <mat-icon>more_vert</mat-icon>
        </div>

      </div>

      <div fxFlex="100" class="search" fxLayoutAlign="center center">

        <div fxFlex="100" class="search-input">
          <input fxFlex type="text" placeHolder="&#61442; Search by name..." />
        </div>

      </div>


      <div class="content" fxFlex fxLayout="row wrap">

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

      </div>


    </div>


    <div class="mart" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center start">

      <div fxFlex="100" class="header" fxLayoutAlign="center center">

        <div class="title" fxFlex fxLayoutAlign="start">MART (2)</div>
        <div class="menu" fxFlex fxLayoutAlign="end">
          <mat-icon>more_vert</mat-icon>
        </div>

      </div>

      <div fxFlex="100" class="search" fxLayoutAlign="center center">

        <div fxFlex="100" class="search-input">
          <input fxFlex type="text" placeHolder="&#61442; Search by name..." />
        </div>

      </div>


      <div class="content" fxFlex fxLayout="row wrap">

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

        <div fxFlex="100" class="entity" fxLayout="row">
          <div class="entity-caption" fxLayoutAlign="start center">
            <input type="checkbox" style="width: 15px;" value="" /> Entity 1
          </div>
          <div fxFlex fxLayoutAlign="end center">
            <div class="entity-count">12</div>
          </div>
        </div>

      </div>


    </div>


  </div>

-->

<div class="stages">

    <div class="landing">

      <div class="entity-header" fxLayoutAlign="start center">
        <div align="left">
          LANDING (2)
        </div>
        <div fxFlex fxLayoutAlign="end">
          <mat-icon>more_vert</mat-icon>
        </div>

      </div>

      <div class="entity-search" fxLayoutAlign="start center">

        <input fxFlex type="text" placeHolder="&#61442; Search by name..." />

      </div>

      <div class="entity-content" fxLayoutAlign="start">

        <div fxFlex class="entity">

          <div class="entity-list" fxLayoutAlign="center">

            <div class="entity-caption" fxLayoutAlign="start center">
              <input type="checkbox" style="width: 15px;" value="" /> Entity 1
            </div>
            <div fxFlex fxLayoutAlign="end center">
              <div class="entity-count">12</div>
            </div>

          </div>


          <div class="entity-list" fxLayoutAlign="center">

            <div class="entity-caption" fxLayoutAlign="start center">
              <input type="checkbox" style="width: 15px;" value="" /> Entity 1
            </div>
            <div fxFlex fxLayoutAlign="end center">
              <div class="entity-count">12</div>
            </div>

          </div>


          <div class="entity-list" fxLayoutAlign="center">

            <div class="entity-caption" fxLayoutAlign="start center">
              <input type="checkbox" style="width: 15px;" value="" /> Entity 1
            </div>
            <div fxFlex fxLayoutAlign="end center">
              <div class="entity-count">12</div>
            </div>

          </div>


        </div>


      </div>

    </div>

  </div>

  <div class="stages">

      <div class="staging">

        <div class="entity-header" fxLayoutAlign="start center">
          <div align="left">
            STAGING (2)
          </div>
          <div fxFlex fxLayoutAlign="end">
            <mat-icon>more_vert</mat-icon>
          </div>

        </div>

        <div class="entity-search" fxLayoutAlign="start center">

          <input fxFlex type="text" placeHolder="&#61442; Search by name..." />

        </div>

        <div class="entity-content" fxLayoutAlign="start">

          <div fxFlex class="entity">

            <div class="entity-list" fxLayoutAlign="center">

              <div class="entity-caption" fxLayoutAlign="start center">
                <input type="checkbox" style="width: 15px;" value="" /> Entity 1
              </div>
              <div fxFlex fxLayoutAlign="end center">
                <div class="entity-count">12</div>
              </div>

            </div>


            <div class="entity-list" fxLayoutAlign="center">

              <div class="entity-caption" fxLayoutAlign="start center">
                <input type="checkbox" style="width: 15px;" value="" /> Entity 1
              </div>
              <div fxFlex fxLayoutAlign="end center">
                <div class="entity-count">12</div>
              </div>

            </div>


            <div class="entity-list" fxLayoutAlign="center">

              <div class="entity-caption" fxLayoutAlign="start center">
                <input type="checkbox" style="width: 15px;" value="" /> Entity 1
              </div>
              <div fxFlex fxLayoutAlign="end center">
                <div class="entity-count">12</div>
              </div>

            </div>


          </div>


        </div>

      </div>

    </div>

    <div class="stages">

        <div class="sor">

          <div class="entity-header" fxLayoutAlign="start center">
            <div align="left">
              SOR (2)
            </div>
            <div fxFlex fxLayoutAlign="end">
              <mat-icon>more_vert</mat-icon>
            </div>

          </div>

          <div class="entity-search" fxLayoutAlign="start center">

            <input fxFlex type="text" placeHolder="&#61442; Search by name..." />

          </div>

          <div class="entity-content" fxLayoutAlign="start">

            <div fxFlex class="entity">

              <div class="entity-list" fxLayoutAlign="center">

                <div class="entity-caption" fxLayoutAlign="start center">
                  <input type="checkbox" style="width: 15px;" value="" /> Entity 1
                </div>
                <div fxFlex fxLayoutAlign="end center">
                  <div class="entity-count">12</div>
                </div>

              </div>


              <div class="entity-list" fxLayoutAlign="center">

                <div class="entity-caption" fxLayoutAlign="start center">
                  <input type="checkbox" style="width: 15px;" value="" /> Entity 1
                </div>
                <div fxFlex fxLayoutAlign="end center">
                  <div class="entity-count">12</div>
                </div>

              </div>


              <div class="entity-list" fxLayoutAlign="center">

                <div class="entity-caption" fxLayoutAlign="start center">
                  <input type="checkbox" style="width: 15px;" value="" /> Entity 1
                </div>
                <div fxFlex fxLayoutAlign="end center">
                  <div class="entity-count">12</div>
                </div>

              </div>


            </div>


          </div>

        </div>

      </div>

      <div class="stages">

          <div class="mart">

            <div class="entity-header" fxLayoutAlign="start center">
              <div align="left">
                MART (2)
              </div>
              <div fxFlex fxLayoutAlign="end">
                <mat-icon>more_vert</mat-icon>
              </div>

            </div>

            <div class="entity-search" fxLayoutAlign="start center">

              <input fxFlex type="text" placeHolder="&#61442; Search by name..." />

            </div>

            <div class="entity-content" fxLayoutAlign="start">

              <div fxFlex class="entity">

                <div class="entity-list" fxLayoutAlign="center">

                  <div class="entity-caption" fxLayoutAlign="start center">
                    <input type="checkbox" style="width: 15px;" value="" /> Entity 1
                  </div>
                  <div fxFlex fxLayoutAlign="end center">
                    <div class="entity-count">12</div>
                  </div>

                </div>


                <div class="entity-list" fxLayoutAlign="center">

                  <div class="entity-caption" fxLayoutAlign="start center">
                    <input type="checkbox" style="width: 15px;" value="" /> Entity 1
                  </div>
                  <div fxFlex fxLayoutAlign="end center">
                    <div class="entity-count">12</div>
                  </div>

                </div>


                <div class="entity-list" fxLayoutAlign="center">

                  <div class="entity-caption" fxLayoutAlign="start center">
                    <input type="checkbox" style="width: 15px;" value="" /> Entity 1
                  </div>
                  <div fxFlex fxLayoutAlign="end center">
                    <div class="entity-count">12</div>
                  </div>

                </div>


              </div>


            </div>

          </div>

        </div>

</div>
