<div class="side-drawer">

  <div *ngFor="let stage of stage" class="stages">

    <div [ngClass]="stage.stage">

      <div class="entity-header" fxLayoutAlign="start center">

        <div align="left">
          {{ stage.stage | uppercase }} ({{ stage.entity.length }})
        </div>
        <div fxFlex fxLayoutAlign="end">
          <mat-icon>more_vert</mat-icon>
        </div>

      </div>

      <div class="entity-search" fxLayoutAlign="start center">

        <input fxFlex type="text" id="{{stage.stage}}" #filterControl placeHolder="&#61442; Search by name..." (input)="filter($event.target.value,stage.stage)" />

      </div>

      <div class="entity-content" fxLayoutAlign="start">

        <div fxFlex class="entity">

          <div *ngFor="let entity of stage.entity | filterContent: content:stage:stage.stage:contentStage" class="entity-list" fxLayoutAlign="center">

            <div class="entity-caption" fxLayoutAlign="start center">
              <input type="checkbox" style="width: 15px;" [value]="entity.id" (click)="selectEntity($event, entity)" /> {{ entity.name }}
            </div>
            <div fxFlex fxLayoutAlign="end center">
              <div class="entity-count">{{ entity.attr.length }}</div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
