.body {
  padding: 1rem;
}

.wrapper-1 {
  width: 1200px;
  height: 700px;
  position: absolute;
  top: 2rem;
  left: 0;
  background: transparent;
  z-index: 1;
}

.wrapper-2 {
  min-width: 100px;
  min-height: 100px;
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 2;
}

.landing > .entity > .entity-header {
  background: #F5717C;
}

.staging > .entity > .entity-header {
  background: #77B3FF;
}

.sor > .entity > .entity-header {
  background: #FB9D46;
}

.mart > .entity > .entity-header {
  background: #78B847;
}

.entity {
  border-radius: 10px;
  background: white;
  width: 126.12px;
  min-height: 100px;
  box-shadow: 0 0 6px darkgray;
  margin-left: 3rem;
}

.entity:not(:first-child) {
  margin-top: 3rem;
}

.entity-header {
  border-radius: 10px 10px 0 0;
  background: #F5717C;
  color: white;
  height: 36.7px;
  font-weight: bold;
}

.entity-content {

  padding: 0.5rem;

}

.entity-caption {
  font-size: 14px;
  padding: 0.25rem;
}

.attribute:not(:first-child) {
  margin-top: 1rem;
}

.attribute:last-child {
  padding-bottom: 1rem;
}

.line {
  padding: 0 !important;
  position: relative;
}

.line-hor {
  width: 3rem;
  height: 5px;
}

.align-line {
  margin-top: -1rem;
}

.line-hor-left {
  margin-left: -3.5rem;
}

.line-hor-right {
  margin-left: 7.5rem;
}

.line-ver {
  margin-left: 3rem;
  margin-top: 54px;
}

.line-ver-ele {
  width: 5px;
  height: 490px;
}
