.body {
  padding: 0rem 1rem;
}

.wrapper-1 {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  background: transparent;
  z-index: 1;
}

.wrapper-2 {
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  z-index: 2;
}

.stage-caption {
  font-size: 20px;
  padding: 1rem 0.25rem;
  font-weight: bold;
}

.stage-landing {
  color: #F5717C;
}

.stage-staging {
  color: #77B3FF;
}

.stage-sor {
  color: #FB9D46;
}

.stage-mart {
  color: #78B847;
}

.landing > .entity > .entity-header {
  background: #F5717C;
  cursor: pointer;
}

.staging > .entity > .entity-header {
  background: #77B3FF;
  cursor: pointer;
}

.sor > .entity > .entity-header {
  background: #FB9D46;
  cursor: pointer;
}

.mart > .entity > .entity-header {
  background: #78B847;
  cursor: pointer;
}

.entity {
  border-radius: 10px;
  background: white;
  width: 150px;
  min-height: 100px;
  box-shadow: 0 0 6px darkgray;
}

.entity:not(:first-child) {
  margin-top: 3rem;
}

.entity-header {
  border-radius: 10px 10px 0 0;
  background: #F5717C;
  color: white;
  height: 36.7px;
  font-weight: bold;
 
}

.entity-content {
  padding: 0.5rem;
  height: 0px;
  overflow: hidden;
}

.entity-footer {
  font-size: 12px;
  padding: 0.5rem;
  cursor: pointer;
}

.entity-caption {
  font-size: 14px;
  padding: 0.25rem;
}

.attribute:not(:first-child) {
  margin-top: 1rem;
}

.attribute:last-child {
  padding-bottom: 1rem;
}

.attribute-count {
  border: 1px solid #E4E4E4;
  width: 30px;
  height: 18px;
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  float:right;
}

.svg-ele {
  position: absolute;
}

.svg-ele:hover {
  z-index: 1;
}


