<section class="body">

  <div class="wrapper-1" #wrapper_1></div>

  <div class="wrapper-2" id="wrapper_2" #wrapper_2>

    <div fxFlex fxFlexLayout="row" fxLayoutAlign="start start">

      <div *ngFor="let stage of generateEntity" fxFlex="271px">

        <div class="stage-caption stage-{{stage.stage}}" fxLayoutAlign="center start">
          {{stage.stage | uppercase}}
        </div>

        <div fxLayout="row" fxLayoutAlign="center start">

          <div [ngClass]="stage.stage">

            <div *ngFor="let entity of stage.entity" class="entity" id="entity_{{ entity.id }}" #entities hidden>
              <div class="entity-header" (mouseenter)="showDescription()" (mouseleave)="hideDescription()" fxLayoutAlign="center center">{{ entity.name }}
              <!-- <div class="description" *ngIf="showDescriptionv==true">

               {{entity.description}}

                </div> -->
             </div> 
                  <div class="entity-content" fxLayout="column">

                    <div class="attribute" *ngFor="let attribute of entity.attr" (click)="renderEntity(stage.stage, entity, attribute.id)" style="cursor: pointer;"
                      [hidden]="!attribute.display">
                      <div id="attr_{{ entity.id + '_' + attribute.id}}" #attributes class="entity-caption">
                        {{ attribute.name }}
                        <span class="attribute-count">{{ attribute.relationOut.length }}</span>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

</section>